{% extends "templates/web.html" %}

{%- block title -%}{{_("Get Certificate")}}{%- endblock -%}

{% block page_content %}
    <div class="lg-50" style="margin-top: 30px;">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {% if error %}
                <div class="alert alert-danger" role="alert">
                {{error}}
                    </div>
            {% endif %}
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="mb-5">
                    <strong>
                        {{_('Find your certificate through your academic email')}}
                    </strong>
                </div>
                <div class="input-group mb-3">
                <input type="text" class="form-control" id="student_email" placeholder="Student Email">
                <div class="input-group-append">
                    <button class="btn btn-success" onclick="searchCertificate()" type="submit">Search</button>
                </div>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <script>
        var certificate = "{{certificate}}";
        if (certificate) {
            window.location.href = certificate
        }
        function searchCertificate(){
            var email = document.querySelector("#student_email").value
            window.location.href = '/certificate?email=' + email;
        }
    </script>
{% endblock %}
