{% extends "templates/web.html" %}

{% block breadcrumbs %}
{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block page_content %}
<style>
    .card-container{
        margin: 10px auto;
    }
   .card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .iconb i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h4 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    color: white;
}
.card-box strong{
    font-size: 15px;
}
.card-box .iconb {
    position: absolute;
    top: auto;
    bottom: 5px;
    {% if is_rtl()%}
    left: 5px;
    {% else %}
    right: 5px;
    {% endif %}
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #30d6ff !important;
}
</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="card-container">
    <div class="card-box bg-blue">
        <div class="inner">
            <h4> {{_('Your balance')}} </h4>
            <h4 style="direction: ltr;"> {{frappe.utils.fmt_money(balance)}} </h4>
        </div>
        <div class="iconb">
            <i class="fa fa-dollar" aria-hidden="true"></i>
        </div>
    </div>
</div>
<h3>{{ title }}</h3>

{% set today = frappe.utils.getdate(frappe.utils.nowdate()) %}
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">{{_('Code')}}</th>
			<th scope="col">{{_('Program')}}</th>
			<th scope="col">{{_('Status')}}</th>
			<th scope="col">{{_('Grand Total')}}</th>
			<th scope="col">{{_('Paid Amount')}}</th>
			<th scope="col">{{_('Due Date')}}</th>
			<th scope="col">{{_('Actions')}}</th>
		</tr>
	</thead>
	<tbody>
		{% for doc in fees_list %}
		<tr>
			<th scope="row">{{loop.index}}</th>
			<td>{{ doc.name }}</td>
			<td>{{ doc.program }}</td>
			<td>
				{% if doc.outstanding_amount <= 0 %}
				<strong>{{_('Paid')}}</strong>
				{% elif doc.outstanding_amount > 0 and frappe.utils.getdate(doc.due_date) < today %} 
				<strong> {{_('Overdue')}}</strong>
				{% elif doc.receipt_uploaded == 1 %}
					<strong> {{_('Pending')}}</strong>	
				{% else %}
					<strong>{{_('Unpaid')}}</strong>
				{% endif %}
			</td>
			<td>{{ frappe.utils.fmt_money(doc.grand_total, currency=doc.currency) }}</td>
			<td>{{ frappe.utils.fmt_money(doc.paid_amount, currency=doc.currency) }}</td>
			<td>
				{{ doc.due_date.strftime('%Y-%m-%d') }}
			</td>
			<td>
				<button doc-name="{{doc.name}}" onclick="detailsBtnOnClick(this)" 
				class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailModal"
				> {{ _('Details')}}</button> 
                <!-- frappe.utils.getdate(doc.due_date) >= today and -->
				{% if doc.outstanding_amount > 0  and doc.receipt_uploaded==0 %}
				<button class="btn btn-success btn-sm pay-btn" onclick="payBtnOnClick(this)" doc-name="{{doc.name}}"
					doc-price="{{frappe.utils.fmt_money(doc.outstanding_amount, currency=doc.currency)}}"
					data-toggle="modal" data-target="#exampleModal"> {{
					_('Pay')}}</button>
				{% endif %}
				<button  onclick="paymentMethodBtnOnClick(this)" 
				class="btn btn-info btn-sm" data-toggle="modal" data-target="#paymentMethodModal"
				> {{ _('Payment Methods')}}</button>
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
</div>
{% include "templates/includes/fees/popup_modal.html" %}
{% include "templates/includes/fees/details_popup_modal.html" %}
{% include "templates/includes/fees/payment_method_popup_modal.html" %}

{% endblock %}