{% extends "templates/web.html" %}

{% block breadcrumbs %}
{% include "templates/includes/breadcrumbs.html" %}
{% endblock %}

{% block header %}

<h3>{{ title }}</h3>
{% endblock %}

{% block page_content %}

{% set today = frappe.utils.getdate(frappe.utils.nowdate()) %}

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">{{_('Code')}}</th>
			<th scope="col">{{_('Status')}}</th>
			<th scope="col">{{_('Grand Total')}}</th>
			<th scope="col">{{_('Paid Amount')}}</th>
			<th scope="col">{{_('Due Date')}}</th>
			<th scope="col">{{_('Actions')}}</th>
		</tr>
	</thead>
	<tbody>
		{% for doc in fees_list %}
		<tr>
			<th scope="row">{{loop.index}}</th>
			<td>{{ doc.name }}</td>
			<td>
				{% if doc.outstanding_amount <= 0 %}
				<strong>{{_('Paid')}}</strong>
				{% elif doc.outstanding_amount > 0 and frappe.utils.getdate(doc.due_date) < today %} 
				<strong> {{_('Overdue')}}</strong>
				{% elif doc.receipt_uploaded == 1 %}
					<strong> {{_('Pending')}}</strong>	
				{% else %}
					<strong>{{_('Unpaid')}}</strong>
				{% endif %}
			</td>
			<td>{{ frappe.utils.fmt_money(doc.grand_total, currency=doc.currency) }}</td>
			<td>{{ frappe.utils.fmt_money(doc.paid_amount, currency=doc.currency) }}</td>
			<td>
				{{ doc.due_date.strftime('%Y-%m-%d') }}
			</td>
			<td>
				<button doc-name="{{doc.name}}" onclick="detailsBtnOnClick(this)" 
				class="btn btn-info btn-sm" data-toggle="modal" data-target="#detailModal"
				> {{ _('Details')}}</button>
				{% if doc.outstanding_amount > 0 and frappe.utils.getdate(doc.due_date) >= today and doc.receipt_uploaded==0 %}
				<button class="btn btn-success btn-sm pay-btn" onclick="payBtnOnClick(this)" doc-name="{{doc.name}}"
					doc-price="{{frappe.utils.fmt_money(doc.outstanding_amount, currency=doc.currency)}}"
					data-toggle="modal" data-target="#exampleModal"> {{
					_('Pay')}}</button>
				{% endif %}
			</td>
		</tr>
		{% endfor %}

	</tbody>
</table>

{% include "templates/includes/fees/popup_modal.html" %}
{% include "templates/includes/fees/details_popup_modal.html" %}

{% endblock %}